@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", Georgia, sans-serif;
}
:root {
  --darkest: #142850;
  --secondDarkest: #27496d;
  --middle: #0c7b93;
  --secondLightest: #00a8cc;
  --lightest: #c1dadf;
}

.bodyContainer {
  width: 400px;
  height: 500px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: background-color 0.3s linear;
}

/* =============== Landing Page =============== */

.landingPage {
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.title {
  margin-top: 10px;
  color: var(--middle);
  text-align: center;
  text-shadow: 3px 0px 1px black;
}

.btnContainer {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.toExercise {
  background-color: var(--lightest);
  border: none;
  border-radius: 40px;
  height: 70px;
  width: 150px;
  color: var(--secondLightest);
  font-weight: bold;
  padding: 10px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s linear;
  animation: upAndDown infinite 1.5s linear;
}

.toNutrition {
  background-color: #fce6cc;
  border: none;
  border-radius: 40px;
  height: 70px;
  width: 150px;
  color: orange;
  font-weight: bold;
  padding: 10px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s linear;
  animation: upAndDown infinite 1.5s linear;
}

.arrowIcon {
  color: var(--secondLightest);
  margin-left: 5px;
  font-size: 16px;
  transition: all 0.2s linear;
}

.arrowIcon2 {
  color: orange;
  margin-left: 5px;
  font-size: 16px;
  transition: all 0.2s linear;
}

.toExercise:hover {
  box-shadow: 0px 0px 10px var(--secondLightest);
  background-color: var(--secondDarkest);
  color: var(--lightest);
  border: 2px solid var(--secondLightest);
}

.toNutrition:hover {
  box-shadow: 0px 0px 10px orange;
  background-color: #d85204;
  color: #ebf5df;
  border: 2px solid orange;
}

@keyframes toRight {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(180px);
  }
}

@keyframes upAndDown {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-2px);
  }
  75% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* =============== Exercise Page =============== */

/* ===== Inputs & Buttons ===== */
.topContainer {
  margin-top: 10px;
  width: 100%;
  height: 132px;
  display: flex;
  flex-direction: row;
}

.topLeftContainer {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.topLeftContainer input {
  width: 200px;
  margin: 4px 0;
  height: 25px;
  padding-left: 5px;
  border: 1px solid black;
  border-radius: 4px;
}

input[type="search"] {
  padding-right: 10px;
}

.topRightContainer {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.backToMenuBtn {
  width: 80px;
  height: 50px;
  border: none;
  border-radius: 3px;
  background-color: var(--darkest);
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.menuIcon {
  font-size: 22px;
}

.backToMenuBtn:hover {
  transform: scale(1.05, 1.05);
  border: solid 2px var(--darkest);
  background-color: var(--lightest);
  color: var(--darkest);
  box-shadow: 10px -6px 0px var(--darkest);
  transform: translate(-5px, 3px);
}

.search {
  width: 80px;
  height: 50px;
  border: none;
  border-radius: 3px;
  background-color: var(--darkest);
  font-weight: bold;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

.searchIcon {
  font-size: 22px;
}

.search .fa-beat {
  font-size: 20px;
}

.search:hover {
  transform: scale(1.05, 1.05);
  border: solid 2px var(--darkest);
  background-color: var(--lightest);
  color: var(--darkest);
  box-shadow: 10px -6px 0px var(--darkest);
  transform: translate(-5px, 3px);
}

/* ===== Container ===== */

.imgBtnCon {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0;
}

.showIcon {
  cursor: pointer;
  font-size: 14px;
  color: var(--darkest);
}

.hideIcon {
  cursor: pointer;
  font-size: 14px;
  color: grey;
}

.muscleImg {
  width: 85%;
  height: auto;
  margin: 5px auto;
}

.container {
  width: 100%;
  height: 100%;
  margin: 5px 0;
  overflow: auto;
  scrollbar-color: var(--secondDarkest) var(--darkest);
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

.box {
  width: 100%;
  padding: 0 18px;
  background-color: #b0d0d6;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

ul {
  padding: 10px;
}

.listItems::first-letter {
  font-weight: 600;
  font-size: 15px;
}

.listItems {
  list-style-type: none;
  font-size: 14px;
  color: black;
  margin-bottom: 5px;
}

.spanEx {
  color: var(--darkest);
  position: relative;
}

.expandIcon {
  cursor: pointer;
  position: absolute;
  font-size: 16px;
  top: 10px;
  left: 310px;
}

.expandIcon:hover {
  animation: rotate 2.3s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-180deg);
    font-size: 18px;
  }
  100% {
    transform: rotate(-360deg);
  }
}

.spanCl {
  position: absolute;
  font-size: 40px;
  color: var(--secondDarkest);
  top: 0;
  left: 0;
  transform: translate3d(140px, 352px, 0);
}

.closeIcon {
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.2s linear;
}

.closeIcon:hover {
  color: white;
  background-color: var(--darkest);
  box-shadow: 5px 0px var(--darkest);
  border: 2px var(--darkest) solid;
}

.expandedBox {
  position: absolute;
  width: 320px;
  height: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(156, 228, 216);
  background: linear-gradient(
    180deg,
    rgba(98, 177, 125, 1) 0%,
    rgba(98, 177, 158, 1) 30%,
    rgba(98, 163, 177, 1) 80%
  );
  border-radius: 5px;
  border-radius: 50px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.expandedBoxContainer {
  width: 300px;
  height: 300px;
  margin: 10px 0;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: normal;
  scrollbar-color: var(--secondDarkest) #8fbcc5;
  scrollbar-width: thin;
}

.expandedBox .instructions {
  white-space: normal;
}

.instructions {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.accordion {
  background-color: var(--darkest);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 16px;
  font-weight: 600;
}

.active,
.accordion:hover {
  background-color: var(--secondDarkest);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.video {
  width: 250px;
  height: auto;
  display: block;
  margin: 10px auto;
}

/* =============== Nutrition Page =============== */

.topContainerNu {
  width: 100%;
  height: 132px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.inputContainer {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

.inputContainer input {
  width: 200px;
  margin-bottom: 8px;
  height: 25px;
  padding-left: 5px;
  border: 1px solid black;
  border-radius: 4px;
}

.optionsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.rightInputContainer {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#age-select {
  margin-right: 5px;
  width: fit-content;
  border: 1px solid black;
  border-radius: 4px;
  padding-left: 5px;
}

#sex-select {
  width: fit-content;
  border: 1px solid black;
  border-radius: 4px;
  padding-left: 5px;
}

#submitButton {
  width: 80px;
  height: 50px;
  border: none;
  border-radius: 3px;
  background-color: #ff8800;
  font-weight: bold;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

.searchIconNu {
  font-size: 22px;
}

#submitButton .fa-beat {
  font-size: 20px;
}

#submitButton:hover {
  transform: scale(1.05, 1.05);
  border: solid 2px #ff8800;
  background-color: #fce6cc;
  color: #ff8800;
  box-shadow: 10px -6px 0px #ff8800;
  transform: translate(-5px, 3px);
}

.backToMenuBtnNu {
  width: 80px;
  height: 50px;
  border: none;
  border-radius: 3px;
  background-color: #ff8800;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.menuIconNu {
  font-size: 22px;
}

.backToMenuBtnNu:hover {
  transform: scale(1.05, 1.05);
  border: solid 2px #ff8800;
  background-color: #fce6cc;
  color: #ff8800;
  box-shadow: 10px -6px 0px #ff8800;
  transform: translate(-5px, 3px);
}

/* ===== Inside Result Container ===== */

#result-container {
  width: 100%;
  height: 300px;
  overflow: auto;
  scrollbar-color: #ff8800 #e2b27a;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#result-container ul {
  background-color: orange;
  margin: 10px 0;
  border-radius: 12px;
  width: 85%;
  height: fit-content;
  transition: all 0.35s ease-in-out;
}

#result-container ul:hover {
  background-color: #ff8800;
  width: 90%;
}

#result-container ul li {
  list-style-type: none;
  padding: 0 10px;
  transition: all 0.2s ease-in-out;
  font-size: 15px;
}

#result-container ul li:hover {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}
